@charset "utf-8";
/* CSS Document */

body{ background:#f5f5f5; margin:0px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
a { text-decoration:none;}
input,select{font-size:12px;  color:#02aad2; margin:5px 5px 5px 0px; background-color:#f6ffff; }


textarea{font-size:12px;  color:#02aad2;margin:0px 0px 5px 0px; width:650px; border:1px #70b8ba solid; height:70px; background-color:#f6ffff;}



.wrapper{margin-left:auto; margin-right:auto; width:1000px; min-height:900px; background:url(../images/body_bg_30.jpg);}
.wrapper1{margin-left:auto; margin-right:auto; width:1000px; min-height:900px; background:url(../images/body_bg_30.jpg);}
.wrapper2{margin-left:auto; margin-right:auto; width:1000px; min-height:900px; background:url(../images/body_bg_30.jpg);}
.wrapper3{margin-left:auto; margin-right:auto; width:1000px; min-height:900px; background:url(../images/body_bg_30.jpg);}
.wrapperhome{margin-left:auto; margin-right:auto; width:1000px; min-height:550px; background:url(../images/body_bg_30.jpg);}
.header{ width:905px; /*background:url(../images/Header_bg_02.jpg);*/ height:152px; margin-left:48px; }
.logo{ width:411px; height:44px; /*background:url(../images/logo_05.png) no-repeat 0 0;*/ margin-top:14px; margin-left:20px; position:absolute;}
.book_img{ width:138px; height:152px; /*background:url(../images/apple_img_03.jpg) no-repeat 0 60px;*/ position:absolute;}
.header_img{ width:355px; height:64px; /*background:url(../images/header_Image_02.png) no-repeat 0 0;*/ float:right; margin-right:20px;}
.mbody{ width:865px;margin-left:58px; margin-top:10px; padding-bottom:15px;  position:relative;}

.leftmtop_main{ width:190px; height:5px; background:url(../images/top.png) no-repeat 0 0;}
.leftmtop{ width:314px; height:5px; background:url(../images/sm_body_new_03.png) no-repeat 0 0;}

.leftmenu{width:200px; height:auto; background:url(../images/middle.png); padding-top:10px;}


.lnktxt_main{ background:url(../images/arrow.png) no-repeat 5px 0; height:auto; line-height:20px; padding-left:20px; font-size:12px; font-weight:bold; color:#02aad2;  width:160px;}
.lnktxt_main:hover{color:#b03e2e; cursor:pointer;}

.HTMLGraph_fullSize{vertical-align:bottom;
width:100%;
height:100%;
}



.lnktxt{ background:#fff url(../images/arrow.png) no-repeat 5px 0; height:auto; line-height:20px; padding-left:20px; font-size:12px; font-weight:bold; color:#02aad2; padding-right:20px; border-left:#e8b9b0 1px solid; border-right:#e8b9b0 1px solid;}
.lnktxt:hover{}
.lnktxt a{ font-size:12px; font-weight:bold; color:#02aad2; }
.lnktxt a:hover{color:#b03e2e; }

.slnktxt{ background:#fff ; height:auto; line-height:20px; padding-left:30px; font-size:12px; font-weight:bold; color:#02aad2; padding-right:35px; border-left:#e8b9b0 1px solid; border-right:#e8b9b0 1px solid;}
.slnktxt:hover{}
.slnktxt a{ font-size:12px; font-weight:bold; color:#02aad2; }
.slnktxt a:hover{color:#b03e2e; }

.lnktxt1{ background:#fff url(../images/arrow.png) no-repeat 5px 0; height:auto; line-height:20px; padding-left:20px; font-size:12px; font-weight:bold; color:#02aad2;  border-left:#e8b9b0 1px solid; width:158px;}
.lnktxt1:hover{}
.lnktxt1 a{ font-size:12px; font-weight:bold; color:#02aad2; }
.lnktxt1 a:hover{color:#b03e2e; }

.smalllnktxt{ height:20px; line-height:20px; padding-left:30px; font-size:12px;  color:#02aad2;padding-right:35px;}
.smalllnktxt a{ font-size:12px;  color:#02aad2; }
.smalllnktxt a:hover{color:#b03e2e; }

#pagination{ font-size:12px; font-weight:bolder;}
#pagination a{ color:#02aad2;}
#pagination a:hover{ color:#b03e2e;}


.hdtxtReport{ font-size:14px; font-weight:bold; color:#657455; height:50px; line-height:50px;  padding-left:15px; background:url(../images/leftmenu_15.jpg) no-repeat 161px 0;}
/*.hdtxtReport:hover{ color:#900; cursor:pointer;}*/
.hdtxtReport a{ text-decoration:none; font-size:14px; font-weight:bold; color:#657455; }
.hdtxtReport a:hover{color:#b03e2e; cursor:pointer; }

.hdtxtVideoTutorial{ font-size:14px; font-weight:bold; color:#657455; height:50px; line-height:50px; padding-left:15px; background:url(../images/leftmenu_17.jpg) no-repeat 161px 0;}
/*.hdtxtVideoTutorial:hover{ color:#900; cursor:pointer;}*/
.hdtxtVideoTutorial a{ text-decoration:none; font-size:14px; font-weight:bold; color:#657455; }
.hdtxtVideoTutorial a:hover{color:#b03e2e;  cursor:pointer;}


.hdtxtblank{ font-size:14px; font-weight:bold; color:#657455; height:50px; line-height:50px; padding-left:15px;}
/*.hdtxtVideoTutorial:hover{ color:#900; cursor:pointer;}*/
.hdtxtblank a{ text-decoration:none; font-size:14px; font-weight:bold; color:#657455; }
.hdtxtblank a:hover{color:#b03e2e;  cursor:pointer;}
.hdtxtblank a:active{ color:#9C6;}


.hdtxtblank_c{ font-size:14px; font-weight:bold; color:#657455; height:50px; line-height:50px;width:145px; margin-left:35px;}
/*.hdtxtblank:hover{ color:#900; cursor:pointer;}*/
.hdtxtblank_c a{ text-decoration:none; font-size:12px; font-weight:bold; color:#657455; }
.hdtxtblank_c a:hover{color:#b03e2e;  cursor:pointer;}

.hdtxtblank_o{ font-size:14px; font-weight:bold; color:#657455; height:50px; line-height:50px; margin-left:65px; width:115px;}
/*.hdtxtblank:hover{ color:#900; cursor:pointer;}*/
.hdtxtblank_o a{ text-decoration:none; font-size:14px; font-weight:bold; color:#657455; }
.hdtxtblank_o a:hover{color:#b03e2e;  cursor:pointer;}

.logout{ width:67px; height:23px; line-height:20px; background:url(../images/logoutNew_08.png) no-repeat 75px 0; float:right; padding-left:100px;font-family:Verdana, Geneva, sans-serif; font-size:10px; font-weight:bold; color:#fff;}
.logout:hover{ background:url(../images/logoutNew_06.png) no-repeat 75px 0;}
.logout a{ color:#FFF;}

.user{float: right; margin-top: 88px; margin-right: -375px; width: 750px; color:#a68100; font-size:13px; height:23px; line-height:23px;}

.imgReport{ width:50px; height:50px; background:url(../images/leftmenu_15_40.jpg) no-repeat 4px 4px;float:left; margin-top:-50px; margin-left:-18px;}
.imgVideo{ width:50px; height:50px; background:url(../images/leftmenu_17_40.jpg) no-repeat 4px 4px;float:left; margin-top:-50px; margin-left:-18px;}
.imgOnline{ width:50px; height:50px; background:url(../images/leftmenu_21_401.jpg) no-repeat 4px 4px;float:left; margin-top:-50px; margin-left:18px;}
.imgOffline{ width:50px; height:50px; background:url(../images/leftmenu_19_401.jpg) no-repeat 4px 4px;float:left; margin-top:-50px; margin-left:18px;}
.imgPlan{ width:50px; height:50px; background:url(../images/planning_03_40.jpg) no-repeat 4px 4px;float:right;float:left; margin-top:-50px; margin-left:-18px;}
.imgComm{ width:50px; height:50px; background:url(../images/communication_03_40.jpg) no-repeat 4px 4px;float:right;float:left; margin-top:-50px; margin-left:-18px;}
.imgCapBld{ width:50px; height:50px; background:url(../images/capacityBuilding_03_40.jpg) no-repeat 4px 4px;float:right;float:left; margin-top:-50px; margin-left:-18px;}
.imgSections{ width:50px; height:50px; background:url(../images/sections_03_40.jpg) no-repeat 4px 4px;float:right;float:left; margin-top:-50px; margin-left:-18px;}
.imgDevTools{ width:50px; height:50px; background:url(../images/devtools_03_40.jpg) no-repeat 4px 4px;float:right;float:left; margin-top:-50px; margin-left:-18px;}
.imgImpl{ width:50px; height:50px; background:url(../images/implementation_03_40.jpg) no-repeat 4px 4px;float:right;float:left; margin-top:-50px; margin-left:-18px;}

.hdtxtOffline{ font-size:14px; font-weight:bold; color:#657455; height:50px; line-height:50px;  padding-left:15px; background:url(../images/leftmenu_19.jpg) no-repeat 161px 0;}
/*.hdtxtOffline:hover{ color:#900; cursor:pointer;}*/
.hdtxtOffline a{ text-decoration:none; font-size:14px; font-weight:bold; color:#657455; }
.hdtxtOffline a:hover{color:#b03e2e;  cursor:pointer;}

.hdtxtOnline{ font-size:14px; font-weight:bold; color:#657455; height:50px; line-height:50px;  padding-left:15px; background:url(../images/leftmenu_21.jpg) no-repeat 161px 0;}
/*.hdtxtOnline:hover{ color:#900; cursor:pointer;}*/
.hdtxtOnline a{ text-decoration:none; font-size:14px; font-weight:bold; color:#657455; }
.hdtxtOnline a:hover{color:#b03e2e; cursor:pointer; }

.leftmbot_main{width:180px; height:5px; background:url(../images/bottom.png) no-repeat 0 0;}
.leftmbot{width:314px; height:7px; background:url(../images/sm_body_new_06.png) no-repeat 0 0px;}

.wrapperfoot{ margin-left:auto; margin-right:auto; width:1000px; height:17px; background:url(../images/body_bg_31.jpg) no-repeat 0 0;}
.foottop{ clear:both;margin-left:auto; margin-right:auto; width:1000px; height:14px; background:url(../images/Footer_bg_32.jpg) no-repeat 0 0;}
.footmid{ margin-left:auto; margin-right:auto; width:1000px;height:30px; line-height:30px; background:url(../images/Footer_bg_33.jpg);}
.foottxt{ margin-left:68px; font-size:10px; color:#FFF;}
.footbot{ margin-left:auto; margin-right:auto; width:1000px;height:20px; background:url(../images/Footer_bg_35.jpg) no-repeat 0 0;}

.content{ max-width:646px; font-size:11px; color:#657455; margin-left:215px; height:auto;}
.content1{width:615px; font-size:14px; color:#657455;}
.hometab{ border:#94a87e 1px solid; padding:20px; margin-left:260px; margin-top:100px;}

.combobox{  width:213px; height:23px; border:1px #70b8ba solid; font-size:14px;}
.combobox1{  width:180px; height:23px; border:1px #70b8ba solid; font-size:14px;}
.combobox2{  width:100px; height:23px; border:1px #70b8ba solid; font-size:14px;}
.txtbox{  width:206px; height:18px; border:1px #70b8ba solid; font-size:14px;}
.txtbox1{  width:100px; height:18px; border:1px #70b8ba solid; font-size:14px;}
.comboboxsml{  width:82px; height:23px; border:1px #70b8ba solid; font-size:14px;}
.txtarea{  width:206px; height:68px; border:1px #70b8ba solid; font-size:14px;}

.f14{ font-size:14px;}

.lft{ width:150px; height:auto; position:relative; float:left; margin-left:15px; }

.tdlink a{ text-decoration:none; font-weight:bold;  color:#02aad2; }
.tdlink a:hover{color:#b03e2e; }

.jqform{ width:370px; font-size:13px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#657455; margin-left:auto; margin-right:auto;}
.jqform1{ width:670px; font-size:13px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#657455; margin-left:auto; margin-right:auto;}
#myTable{  width:370px; border:1px #e6deb7 solid; padding:2px;}

.tabcontent{ width:100%; border:#5e3364 1px solid;}
.tabcontent TD{ padding:0px 7px 0px 7px; text-align:center; height:30px; width: 25%}

.tabcontent1{ width:667px; border:#a2ba88 1px solid;padding:0px;}
.tabcontent1 TD{vertical-align:top;padding:5px 0px 5px 5px; text-align:left;background-color:#FFF;}
.bl{ color:#048dc4;}
.tchead{ font-weight:bold; background:#5e3364; color:#FFF; height:25px;}

.tabreport{ margin-left:150px;}

.tcrow2{ background-color:#eef9e3;}

.btnsmall{ text-transform:capitalize; background:#76BCBE url(../images/btn_tor_hover_06.jpg) no-repeat 0 0; width:67px; height:23px; color:#FFF; font-weight:bold; border:none; font-size:10px; font-family:Verdana, Geneva, sans-serif; margin-left:5px; margin-right:5px; padding-bottom:3px;}
.btnsmall:hover{ background:#8EB566 url(../images/btn_tor_03.jpg) no-repeat 0 0; cursor:pointer;}
.btnconf93{  text-transform:capitalize; background:#76BCBE url(../images/btn_tor_big_hover_11.jpg) no-repeat 0 0; width:105px; height:30px; color:#fff; font-weight:bold;font-size:11px; font-family:Verdana, Geneva, sans-serif; border:none; padding-bottom:4px;}
.btnconf93:hover{ background:#8EB566 url(../images/btn_tor_big_08.jpg) no-repeat 0 0; cursor:pointer;}

.btnsmall_long{  text-transform:capitalize;background:#76BCBE url(../images/btnsmall_long_05.jpg) no-repeat 0 0; width:119px; height:23px; color:#FFF; font-weight:bold; border:none; font-size:10px; font-family:Verdana, Geneva, sans-serif; margin-left:5px; margin-right:5px; padding-bottom:3px;}
.btnsmall_long:hover{ background:#8EB566 url(../images/btnsmall_long_03.jpg) no-repeat 0 0; cursor:pointer;}

.btnsmall_long2{  text-transform:capitalize;background:#76BCBE url(../images/btn_small_long2_22.jpg) no-repeat 0 0; width:175px; height:23px; color:#FFF; font-weight:bold; border:none; font-size:10px; font-family:Verdana, Geneva, sans-serif; margin-left:5px; margin-right:5px; padding-bottom:3px;}
.btnsmall_long2:hover{ background:#8EB566 url(../images/btn_small_long2_19.jpg) no-repeat 0 0; cursor:pointer;}

.btnbig{  text-transform:capitalize; background:#76BCBE url(../images/btn_tor_big_hover_11.jpg) no-repeat 0 0; width:105px; height:30px; color:#fff; font-weight:bold;font-size:11px; font-family:Verdana, Geneva, sans-serif; border:none; padding-bottom:4px;}
.btnbig:hover{ background:#8EB566 url(../images/btn_tor_big_08.jpg) no-repeat 0 0; cursor:pointer;}

.htitle{ font-size:16px; color:#08a5ce; margin-bottom:10px;}
.desc{  color:#0090b2;  font-size:11px;}
.queshd{  color:#0090b2;  font-size:12px; padding-left:30px;}
.ques{ color:#333; font-weight:bold; font-size:11px; margin-top:5px;}

.ques1{color:#b97533; font-weight:bold; font-size:12px; font-weight:bold; margin-top:5px; width:575px; }
.hlft{ width:220px; float:left;  font-size:10;color:#333; font-weight:bold;}
.hlftsub{ width:100px; float:left; height:20px; font-size:10;color:#333;}
.flft{ width:465px; float:left;  height:20px;}
.hlftcb{width:150px; float:left;}

.subobs{float:right; text-align:right; margin-right:13px;}

.bx{ border:1px #70b8ba solid; margin:10px 0px 10px 0px;}
.questab{background-color:#F5F5F5; border:1px #F5F5F5 solid; padding:5px; margin-top:3px; width:670px;}

.hbox{color:#0090b2;  font-size:11px; width:20px;float:left; background-color:#FFF; text-align:center; margin-right:2px; border:1px #e3f3f3 solid; height:16px; margin-bottom:2px;line-height:16px;}
.hboxlong{color:#0090b2;  font-size:11px;width:400px; }



.error{ color:#900; font-size:12px;}



#msgContainer #paginationall ul li.inactive,  #msgContainer #paginationall ul li.inactive:hover {
	color:#859970;
	cursor: default;
	font-size:12px;
}
#msgContainer .data ul li {
	list-style: none;
	font-family: verdana;
	margin: 5px 0 5px 0;
	color: #000;
	font-size: 13px;
}
#msgContainer #paginationall {
	
	width: 615px;
	height: 25px;
	
}
#msgContainer #paginationall ul{ margin-left:-50px;	}
#msgContainer #paginationall ul li {
	list-style: none;
	float: left;
	padding: 2px 6px 2px 6px;
	margin: 0 3px 0 3px;
	font-family: arial;
	font-size: 12px;
	color: #0798b7;
	font-weight: bold;
	}
#msgContainer #paginationall ul li:hover {
	
	cursor: pointer;
}

.total {
	float:right;
	font-family:arial;
	color:#999;
}


#navigation {width:200px; height:auto; float:left;}

/*Main Menu*/
#navigation ul {margin:0px; padding:0px;}

#navigation ul li {
height:50px;
line-height:50px; 
list-style:none;

width:180px;

}

#navigation ul li:first-child { border:none;}

#navigation ul li a {}
#navigation ul li ul li a {color:#02AAD2;}
#navigation ul li ul li a:hover {color:#900; }
/*Link's Styles*/
#navigation ul li.blank:hover{ background:#FFF;}
#navigation ul li:hover { position:relative;}

#navigation ul ul {display:none; position:absolute; left:165px; top:1px; border-width:1px;font-size:10px; font-weight:bold; width:314px;z-index:1; }
#navigation ul li:hover ul {display:block;}



#navigation ul ul li {  width:314px; height:auto;float:left; display:inline; border:none; overflow:visible;}
#navigation ul ul li:hover { border:none;}
 
#navigation li:hover ul li ul {display:none;}

#navigation ul ul li ul {left:200px; background-color:#a8a7a7;font-size:10px;}
#navigation ul ul li:hover ul {display:block;}

