
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}
.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
	margin:0px 0px 0px 0px;
}
.tab_content {
	padding: 15px;
	/*font-size: 1.2em;*/
}



ul.subtabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.subtabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	background: #e0e0e0;
}
ul.subtabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.subtabs li a:hover {
	background: #ccc;
}
html ul.subtabs li.active, html ul.subtabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}
.sub_tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
	margin:0px 0px 0px 0px;
	
}
.sub_tab_content {
	padding: 0px;
	/*font-size: 1.2em;*/
}

#linkmsgContainer #paginationall ul li.inactive,  #linkmsgContainer #paginationall ul li.inactive:hover {
	color:#859970;
	cursor: default;
	font-size:12px;
}
#linkmsgContainer .data ul li {
	list-style: none;
	font-family: verdana;
	margin: 5px 0 5px 0;
	color: #000;
	font-size: 13px;
}
#linkmsgContainer #paginationall {
	width: 615px;
	height: 25px;
	
}
#linkmsgContainer #paginationall ul{ margin-left:-50px;	}
#linkmsgContainer #paginationall ul li {
	list-style: none;
	float: left;
	padding: 2px 6px 2px 6px;
	margin: 0 3px 0 3px;
	font-family: arial;
	font-size: 12px;
	color: #0798b7;
	font-weight: bold;
	}
#linkmsgContainer #paginationall ul li:hover {
	
	cursor: pointer;
}


/*video*/

#videomsgContainer #paginationall ul li.inactive,  #videomsgContainer #paginationall ul li.inactive:hover {
	color:#859970;
	cursor: default;
	font-size:12px;
}
#videomsgContainer .data ul li {
	list-style: none;
	font-family: verdana;
	margin: 5px 0 5px 0;
	color: #000;
	font-size: 13px;
}
#videomsgContainer #paginationall {
	width: 615px;
	height: 25px;
	
}
#videomsgContainer #paginationall ul{ margin-left:-50px;	}
#videomsgContainer #paginationall ul li {
	list-style: none;
	float: left;
	padding: 2px 6px 2px 6px;
	margin: 0 3px 0 3px;
	font-family: arial;
	font-size: 12px;
	color: #0798b7;
	font-weight: bold;
	}
#videomsgContainer #paginationall ul li:hover {
	
	cursor: pointer;
}

/*media*/

#mediamsgContainer #paginationall ul li.inactive,  #mediamsgContainer #paginationall ul li.inactive:hover {
	color:#859970;
	cursor: default;
	font-size:12px;
}
#mediamsgContainer .data ul li {
	list-style: none;
	font-family: verdana;
	margin: 5px 0 5px 0;
	color: #000;
	font-size: 13px;
}
#mediamsgContainer #paginationall {
	width: 615px;
	height: 25px;
	
}
#mediamsgContainer #paginationall ul{ margin-left:-50px;	}
#mediamsgContainer #paginationall ul li {
	list-style: none;
	float: left;
	padding: 2px 6px 2px 6px;
	margin: 0 3px 0 3px;
	font-family: arial;
	font-size: 12px;
	color: #0798b7;
	font-weight: bold;
	}
#mediamsgContainer #paginationall ul li:hover {
	
	cursor: pointer;
}

/*website*/

#websitemsgContainer #paginationall ul li.inactive,  #websitemsgContainer #paginationall ul li.inactive:hover {
	color:#859970;
	cursor: default;
	font-size:12px;
}
#websitemsgContainer .data ul li {
	list-style: none;
	font-family: verdana;
	margin: 5px 0 5px 0;
	color: #000;
	font-size: 13px;
}
#websitemsgContainer #paginationall {
	width: 615px;
	height: 25px;
	
}
#websitemsgContainer #paginationall ul{ margin-left:-50px;	}
#websitemsgContainer #paginationall ul li {
	list-style: none;
	float: left;
	padding: 2px 6px 2px 6px;
	margin: 0 3px 0 3px;
	font-family: arial;
	font-size: 12px;
	color: #0798b7;
	font-weight: bold;
	}
#websitemsgContainer #paginationall ul li:hover {
	
	cursor: pointer;
}
/*video*/

#videomsgContainer #paginationall ul li.inactive,  #videomsgContainer #paginationall ul li.inactive:hover {
	color:#859970;
	cursor: default;
	font-size:12px;
}
#videomsgContainer .data ul li {
	list-style: none;
	font-family: verdana;
	margin: 5px 0 5px 0;
	color: #000;
	font-size: 13px;
}
#videomsgContainer #paginationall {
	width: 615px;
	height: 25px;
	
}
#videomsgContainer #paginationall ul{ margin-left:-50px;	}
#videomsgContainer #paginationall ul li {
	list-style: none;
	float: left;
	padding: 2px 6px 2px 6px;
	margin: 0 3px 0 3px;
	font-family: arial;
	font-size: 12px;
	color: #0798b7;
	font-weight: bold;
	}
#videomsgContainer #paginationall ul li:hover {
	
	cursor: pointer;
}
/* Files */


#filemsgContainer #paginationall ul li.inactive,  #filemsgContainer #paginationall ul li.inactive:hover {
	color:#859970;
	cursor: default;
	font-size:12px;
}
#filemsgContainer .data ul li {
	list-style: none;
	font-family: verdana;
	margin: 5px 0 5px 0;
	color: #000;
	font-size: 13px;
}
#filemsgContainer #paginationall {
	width: 615px;
	height: 25px;
	
}
#filemsgContainer #paginationall ul{ margin-left:-50px;	}
#filemsgContainer #paginationall ul li {
	list-style: none;
	float: left;
	padding: 2px 6px 2px 6px;
	margin: 0 3px 0 3px;
	font-family: arial;
	font-size: 12px;
	color: #0798b7;
	font-weight: bold;
	}
#filemsgContainer #paginationall ul li:hover {
	
	cursor: pointer;
}
