.HTMLGraph_graph
{
    border: 1px solid #666666;
    background-color: #ffffff;
}
.HTMLGraph_fullSize
{
    position: relative;
    width: 100%;
    height: 100%;
}
.HTMLGraph_title
{
    font-family: tahoma, verdana, helvetica, arial, sans;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 5px;
}
.HTMLGraph_xAxis
{
    border-bottom: 1px solid #666666;
}
.HTMLGraph_barVertical
{
    background-color: #aabbcc;
    border-right: 1px solid #000000;
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
}
.HTMLGraph_valueTopMaring
{
    font-family: helvetica, tahoma, verdana, arial, sans;
    font-size: 11px;
    background-color: transparent;
}
.HTMLGraph_value
{
    position: absolute;
    bottom: 0px;
    font-family: helvetica, tahoma, verdana, arial, sans;
    font-size: 11px;
}
.HTMLGraph_label
{
    font-family: helvetica, tahoma, verdana, arial, sans;
    font-size: 11px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.HTMLGraph_plotLabel
{
    font-family: helvetica, tahoma, verdana, arial, sans;
    font-size: 11px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.HTMLGraph_footnote
{
    font-family: tahoma, verdana, helvetica, arial, sans;
    font-size: 10px;
    font-weight: normal;
    color: #000000;
    text-align: right;
}
.HTMLGraph_xAxisTick
{
    width: 1px;
    height: 5px;
    background-color: #666666;
}
